
@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An Error occured while proccessing your request.
        The suppoert team is notfied and we are working in the fix
    </h3>
    <h4>Please contact us on pragim@pragimtech.com</h4>
    <hr />
}

else
{
    <h3 class="text-danger">@ViewBag.ErrorTitle</h3>
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
}
